body {
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    min-height: 100vh; /* 最低高さを画面全体に設定 */
}

.page1 {
    display: flex;
    font-size: large;
    height: 50vw; /* サイトを縦長にする */
}

.slider {
    right: auto;
    width: 60%; /* スライダーの幅 */
    max-width: 1000px; /* 最大幅 */
    overflow: hidden; /* スライダー外の画像を非表示 */
    border-radius: 10px; /* 角丸 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    height: 40vw;
    justify-content: center;
}

.slides {
    display: flex; /* 横並びにする */
    transition: transform 0.5s ease-in-out; /* スライドのアニメーション */
}

.slide {
    width: 100%; /* スライダー全体の幅に合わせる */
    flex-shrink: 0; /* サイズを固定 */
    object-fit: cover; /* 画像の比率を保つ */
    margin-right: 0;
    height: 100%;
}

.introduction {
    font-size: 5vw;
    writing-mode: vertical-rl; /* 縦書きにする */
    text-orientation: upright; /* 文字を正しい向きで表示 */
    justify-content: center; /* フレックスボックスを使う場合に中央寄せ */
    align-items: center; /* フレックスボックスを使う場合に中央寄せ */
    display: flex; /* 中央寄せ用に必要 */
    min-height: 100vh; /* 画面全体に配置 */
    margin: 0;
}

.design-name {
    font-size: 10vw;
    color: dimgray;
    position: absolute;
    top: 40vw;
    white-space: nowrap; /* 文字が1行で表示されるように設定 */
    animation: scroll 100s linear infinite; /* アニメーション適用 */
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.page2{
    display: flex;
    height: 50vw; /* サイトを縦長にする */
}
.cat1{
    width: 10vw;
    border-radius: 20%;
    float: right; /* 要素を左に配置 */
    margin-left: 10vw; /* 左側の余白をなくす */
}
.ginnyan{
    border-radius: 30%;
}
.profile{
    font-size: 5vw;
}
.birth{
    font-size: 4vw;
}